/* =================================== BASE ================================= */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: palegreen;
}

#page {
  flex: 1;
  display: flex;
  flex-direction: column;

}
/* =================================== HEADER ================================= */
#header {
  flex: 0 1 auto;
  background: paleturquoise;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#header > h1 {
  margin: 0;
  flex: 0 1 300px;
}
#header > form {
  margin: 0;
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

#header > form > * {
  margin-left: 5px;
}

/* =================================== MAIN ================================= */

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#main > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

#main > div > #gallery {
  background: palegoldenrod;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* #main > div > #gallery > .single-article {
  border: 1px solid red;
} */

#main > div > #gallery > .single-article > div {
  background: white;
  margin: 10px;
}

#main > div > #gallery > .single-article > div > img {
  width: 100%;
}

#main > div > #details {
  flex: 0 0 250px; 
}

.visible {
  display: none;
}



/* =================================== FOOTER ================================= */
#footer {
  flex: 0 1 auto;
  background: palevioletred;
  text-align: center;
}


/* =================================== MEDIA QUERIES ================================= */

@media (min-width: 768px) {
  .visible {
    display: flex;
    flex-direction: column;
  }

  #main > div > #gallery {
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #main > div > #gallery > .single-article {
    flex: 0 1 50%;
  }
}

@media (min-width: 992px) {
  

  #main > div > #gallery > .single-article {
    flex: 0 1 33.33%;
  }

}

@media (min-width: 1200px) {
  #main > div > #gallery > .single-article {
    flex: 0 1 25%;
  }
}