/* =================================== BASE ================================= */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;

        

}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*background: palegreen;*/
  background: url("https://static4.depositphotos.com/1001877/506/i/450/depositphotos_5069333-stock-photo-old-paper.jpg");

}

#page {
  flex: 1;
  display: flex;
  flex-direction: column;
   background: url("https://images.pexels.com/photos/269923/pexels-photo-269923.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");

  background-repeat: no-repeat;


}
/* =================================== HEADER ================================= */
#header {
  flex: 0 1 auto;
  border-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#header > h1 {
  color: white;
  margin: 0;
  flex: 0 1 300px;
}
#header > form {
  margin: 0;
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */

}

#header > form > * {

  margin-left: 5px;
}

/* =================================== MAIN ================================= */

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#main > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

#main > div > #gallery {
 /* background: palegoldenrod;*/
 
background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* #main > div > #gallery > .single-article {
  border: 1px solid red;
} */

#main > div > #gallery > .single-article > div {
  background: white;
  margin: 10px;
}

#main > div > #gallery > .single-article > div > img {
  width: 100%;
}

#main > div > #details {
  flex: 0 0 250px; 
}

#main > div > #details >h2 {
font-weight: bold; }
 
#main > div > #details >h2> ul{ font-size: 5px;
  font-weight: bold;

}

.visible {
  display: none;
}



/* =================================== FOOTER ================================= */
#footer {
  flex: 0 1 auto;
  text-decoration-color: white;
  text-align: center;
  font-style: italic;

}


/* =================================== MEDIA QUERIES ================================= */

@media (min-width: 768px) {
  .visible {
    display: flex;
    flex-direction: column;
  }

  #main > div > #gallery {
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #main > div > #gallery > .single-article {
    flex: 0 1 50%;
  }
}

@media (min-width: 992px) {
  

  #main > div > #gallery > .single-article {
    flex: 0 1 33.33%;
  }

}

@media (min-width: 1200px) {
  #main > div > #gallery > .single-article {
    flex: 0 1 25%;
  }
}